@import "variables";


.film-details {
  position: relative;
  .overlay {
    background-color: #1b1e21;
    min-height: 460px;
  }
  .background-img {
    opacity: 0.2;
    border-top: 120px dotted black;
    border-bottom: 120px dotted black;
  }
}

.film-desc, .film-extra, .film-watch, .film-comments {
  h1 {
    font-size: 3em;
    margin: 25px;
    text-shadow: 1px 1px 2px rgb(88, 90, 142);
  }
}

.film-desc {
    color: white;
    position: absolute;
    top: 1%;
    left: 0;
    max-height: 550px;
    overflow: hidden;
  li {
    display: flex;
    align-items: baseline;
    h3, span {
      margin: 0;
    }
    span {
      padding: 0 0 0 11px;
      font-size: 1.2em;
    }
  }
  img {
    position: relative;
    top: 5px;
    border: 2px solid #d0d0d0;
    border-radius: 4px;
  }
  .desc {
    font-size: 1.2em;
    padding: 0 2.5rem;
    line-height: 1.5em;
    height: 10.4em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .rating {
    font-size: 1.2em;
    padding-left: 8px;
    color: white;
    .ofTen {
      font-size: 1em;
      color: white;
    }
  }
}

.film-extra {
  img {
    border: 2px solid #d0d0d0;
    border-radius: 4px;
  }
}

.film-icons-info {
  position: relative;
  color: white;
  height: 70px;
  top: -65px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px 14px 10px 30px;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px #060725;
  .film-view-info, .film-pocket-info {
    i:first-of-type {
      width: 95px;
      padding-right: 4px;
    }
    display: flex;
  }
}

.viewed .fa-eye, .viewed .fa-get-pocket {
  color: #08d608;
}

a[href^="/user"] {
  text-decoration: none;
}

.comment-container {
  margin-bottom: 3rem;
  .avatar-comment + p {
    color: #17a2b8;
    font-size: 0.9em;
  }
}

.comment-item {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  min-height: 80px;
  position: relative;
  padding: 15px;
  &:after {
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.1);
    content: "";
    left: -10px;
    position: absolute;
    top: 20px;
  }
  &:before {
    border-color: transparent rgba(0, 0, 0, .05);
    top: 22px;
  }
  span {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: dimgray;
    font-size: 0.7em;
  }
}

.VueCarousel-slide {
  padding: 0 10px;
}


@media screen and (max-width: 991px) {
  .film-desc {
    h1 {
      font-size: 2.5em;
    }
    .desc {
      font-size: 1em;
      line-height: 1.3em;
      height: 8.4em;
      -webkit-line-clamp: 6;
    }
    ul li {
      flex-wrap: wrap;
      h3 {
        font-size: 1.3em;
      }
      span {
        font-size: 0.9em;
      }
    }
  }
  .film-view-info, .film-pocket-info {
    i {
      width: 22px !important;
      span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .film-details {
    .overlay {
      display: none;
    }
    .film-desc {
      position: relative;
      top: 0;
      color: black;
      max-height: 1200px;
      .rating {
        color: black;
      }
    }
  }
}




