@import "variables";

.form-login-register, .form-main {
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.py-4 {
  background: url("../../../public/img/fo_film-cover.jpg") center;
  background-size: cover;
  min-height: calc(100vh - 78px);
}

.py-4-cover {
  background: linear-gradient(to bottom, #0f174c 0%,#1e59bf 26%,#2989d8 52%,#1e59bf 72%,#0f174c 100%);
}

.form-main {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  max-width: 800px;
}
.card-header-main {
  font-size: 5em;
  line-height: 130%;
}

.card-body-main p {
  font-size: 3em;
  margin-bottom: 5%;
}

.card-body {
  form {
    margin-top: 4em;
  }
}

i {
  font-family: $fontawesome !important;
  margin-right: 10px;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .card-header-main {
    font-size: 4.5em;
    line-height: 130%;
  }
  .card-body-main p {
    font-size: 2.5em;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .card-header-main {
    font-size: 4em;
  }
  .card-body-main p {
    font-size: 2em;
  }
}

@media all and (max-width: 480px) {
  .card-header-main {
    font-size: 3em;
    line-height: 120%;
  }
  .card-body-main p {
    font-size: 1.5em;
  }

}

