.avatar{
  border: 2px solid #c3c3c3;
  height: 180px;
  width: 180px;
  border-radius: 50%;

}

.user-avatar {
  color: white;
  position: relative;
  .btn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #007bff;
    position: absolute;
    bottom: 0;
    right: 70%;
  }
}

fieldset {
  position: relative;
  border: 1px dashed #a9a9a9;
  padding: 15px;
  margin-bottom: 15px;
  a {
    color: #007bff;
    position: absolute;
    top: 5px;
    right: 20px;
  }
}