// Fonts
@import url("https://fonts.googleapis.com/css?family=Pangolin:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
  margin: 3rem 0 !important;
}

.card-header {
  font-size: 2em;
}

@import "forms";
@import "films";
@import "film-details";
@import "profile";